.idea

venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
*.sqlite
config.py
phy/verlet_rigid_body_mouse.py
phy/verlet_particle.py
phy/verlet_cloth_system_mouse2.py
phy/verlet_cloth_system_mouse.py
phy/solar1.py
phy/projectile_full.py
phy/Pendulum.py
phy/particle_simulation.py
phy/multiple_pendulum.py
phy/mass_spring_damper.py
phy/DoublePendulum.py
misc/bubble_sort_UI.py
misc/DragonCurve.py
misc/FractalTree.py
misc/GameofLife2.py
misc/Hilbert.py
misc/honeycomb.py
misc/InteractiveMandelbrot.py
misc/langtonloop.py
misc/LangtonsAnt.py
misc/LangtonsLoopRules.txt
misc/quasicrystal.png
misc/quasicrystal.py
misc/RainbowClick.py
misc/rainbowrain.py
misc/rainbowraincircle.py
misc/RandomFractalSpiral.py
misc/Sierpinski.py
misc/bubble_sort.py
misc/BarnsleyFern.py
